<p>Acord entre l'alumne o alumna i el docent sobre què aprendre, com i amb quins criteris d'avaluació. Completar cada apartat abans d'iniciar el treball.</p>

<table>
  <tbody>
    <tr>
      <th style="width:160px">Alumne/a</th>
      <td></td>
      <th style="width:120px">Data</th>
      <td></td>
    </tr>
    <tr>
      <th>Assignatura / Projecte</th>
      <td colspan="3"></td>
    </tr>
  </tbody>
</table>

<h4>Objectiu d'aprenentatge</h4>
<p><em>Què vull aprendre o aconseguir? Per a què em serveix?</em></p>
<table><tbody><tr><td style="height:64px"></td></tr></tbody></table>

<h4>Tasques i productes</h4>
<p><em>Què faré per assolir l'objectiu? Què lliuraré o presentaré?</em></p>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Tasca / Producte</th>
      <th style="width:130px">Data límit</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td></td><td></td></tr>
    <tr><td>2</td><td></td><td></td></tr>
    <tr><td>3</td><td></td><td></td></tr>
    <tr><td>4</td><td></td><td></td></tr>
  </tbody>
</table>

<h4>Recursos</h4>
<p><em>Amb quins materials, eines o suports compto?</em></p>
<table><tbody><tr><td style="height:48px"></td></tr></tbody></table>

<h4>Criteris d'avaluació</h4>
<p><em>Com sabrem que s'ha assolit l'objectiu? Què es valorarà?</em></p>
<table>
  <thead>
    <tr>
      <th>Criteri</th>
      <th style="width:200px">Indicador d'assoliment</th>
      <th style="width:90px">Pes (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
  </tbody>
</table>

<h4>Revisió i seguiment</h4>
<table>
  <thead>
    <tr>
      <th style="width:120px">Data revisió</th>
      <th>Observacions</th>
      <th style="width:130px">Es compleix?</th>
    </tr>
  </thead>
  <tbody>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
  </tbody>
</table>

<table style="margin-top:24px">
  <tbody>
    <tr>
      <th style="width:50%">Signatura de l'alumne/a</th>
      <th style="width:50%">Signatura del docent</th>
    </tr>
    <tr style="height:48px"><td></td><td></td></tr>
  </tbody>
</table>

<p class="note">Aquest contracte es pot revisar i renegociar si les circumstàncies canvien, sempre amb acord de les dues parts.</p>
