<p>Agreement between the student and the teacher on what to learn, how, and with which assessment criteria. Complete each section before starting work.</p>

<table>
  <tbody>
    <tr>
      <th style="width:160px">Student</th>
      <td></td>
      <th style="width:120px">Date</th>
      <td></td>
    </tr>
    <tr>
      <th>Subject / Project</th>
      <td colspan="3"></td>
    </tr>
  </tbody>
</table>

<h4>Learning objective</h4>
<p><em>What do I want to learn or achieve? What is it useful for?</em></p>
<table><tbody><tr><td style="height:64px"></td></tr></tbody></table>

<h4>Tasks and products</h4>
<p><em>What will I do to reach the objective? What will I hand in or present?</em></p>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Task / Product</th>
      <th style="width:130px">Deadline</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td></td><td></td></tr>
    <tr><td>2</td><td></td><td></td></tr>
    <tr><td>3</td><td></td><td></td></tr>
    <tr><td>4</td><td></td><td></td></tr>
  </tbody>
</table>

<h4>Resources</h4>
<p><em>What materials, tools or support do I have available?</em></p>
<table><tbody><tr><td style="height:48px"></td></tr></tbody></table>

<h4>Assessment criteria</h4>
<p><em>How will we know the objective has been met? What will be assessed?</em></p>
<table>
  <thead>
    <tr>
      <th>Criterion</th>
      <th style="width:200px">Success indicator</th>
      <th style="width:90px">Weight (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
  </tbody>
</table>

<h4>Review and monitoring</h4>
<table>
  <thead>
    <tr>
      <th style="width:120px">Review date</th>
      <th>Observations</th>
      <th style="width:130px">On track?</th>
    </tr>
  </thead>
  <tbody>
    <tr><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td></tr>
  </tbody>
</table>

<table style="margin-top:24px">
  <tbody>
    <tr>
      <th style="width:50%">Student's signature</th>
      <th style="width:50%">Teacher's signature</th>
    </tr>
    <tr style="height:48px"><td></td><td></td></tr>
  </tbody>
</table>

<p class="note">This contract can be reviewed and renegotiated if circumstances change, always with the agreement of both parties.</p>
